create table if not exists document_text(
  doc_id bytea unique not null references document_props(id),
  value text not null
);

insert into document_text
  select
    decode(raw.id, 'hex'),
    to_json(raw.data) #>> '{}'
  from {{ config.raw_table }} raw
  on conflict do nothing;
