
{% macro create_dictionary(name) %}
create table if not exists {{ name }}(
  id serial primary key,
  value text unique not null
);
{% endmacro %}


{% macro create_array(name) %}
create table if not exists {{ name }}(
  doc_id bytea not null references document_props(id),
  data text not null
);
{% endmacro %}

{% macro fill_array(name, raw_table, field) %}
insert into {{ name }}
  select
    decode(id, 'hex'),
    json_array_elements_text(raw.data->'{{ field }}')
  from {{ raw_table }} raw;

create index if not exists {{ name }}_doc_id_idx
  on {{ name }}(doc_id);
{% endmacro %}
