
drop view if exists full_case;
create view full_case as
with
  {%- for a in arrays %}
  agg_{{ a }} as (
    select doc_id, string_agg(value, E'\n') as value
    from {{ a }} group by doc_id
    -- FIXME: oder by timestamp asc
  ),
  {%- endfor %}
  __dummy as (select 1)
  select
    ps.id
  {%- for t in timestamps %}
    ,{{ t }}
  {%- endfor %}
  {%- for s in smallints %}
    ,{{ s }}
  {%- endfor %}
  {%- for d in dictionaries %}
    ,{{ d }}.value as {{ d }}
  {%- endfor %}
  {%- for s in strings %}
    ,{{ s }}
  {%- endfor %}
  {%- for a in arrays %}
    ,agg_{{ a }}.value as {{ a }}
  {%- endfor %}
    ,left(txt.value, 200) as text
  from
    case_props ps
{%- for d in dictionaries  %}
    left outer join {{ d }}
      on ({{ d }}.id = ps.{{ d }})
{%- endfor %}
  {%- for a in arrays %}
    left outer join agg_{{ a }}
      on (agg_{{ a }}.doc_id = ps.id)
  {%- endfor %}
    left outer join case_text txt
      on (txt.doc_id = ps.id)
;
